@using LazZiya.ExpressLocalization
@using ShopAssignment.ViewModels.Catalog.Categories
@inject ISharedCultureLocalizer _loc
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@model List<CategoryViewModel>
<div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0"localize-content>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
            @{
                var categories = Model.ToList();
                foreach (var category in categories)
                {
                    <a href="/@culture/@_loc["categoryUrl"]/@category.Id" class="nav-item nav-link">@category.Name</a>
                }
            }
                    </div>
                </nav>
            </div>